<div class="home_container">
    
    <!-- DIV BIENVENIDO -->
    <div id="welcome_container" *ngIf="identity">
        <div id="text_container2">
            <h3>Bienvenida:</h3>
        </div>
        <div id="welcome_container2" class="">
        <p id="p1" class="mb-1">{{ identity.name }}</p>
        &nbsp;
        <p id="p2">{{ identity.surname }}</p>
    </div>

    <!-- DIV NOTICIAS -->
    <div class="news_container">
        Noticias PASAR A UN COMPONENTE APARTE
        
        
    </div>
</div>