#welcome_container
    display: flex
    flex-direction: column
    border: 1px solid #ff7cbd67
    width: 40%
    border-radius: 10px
    margin-right: 2%
    margin-top: auto

#welcome_container2
    display: flex
    flex-direction: row
    justify-content: center
    font-weight: bold
    color: #a8063c
    font-size: 40px
    padding: 5%

.news_container
    border: 1px solid #ff7cbdb7
    width: 60%
    padding: 2%
    border-radius: 10px

#text_container2
    display: flex
    align-items: center
    height: 60px
    padding-left: 5%
    padding-top: 5%
    color: #575757