<!-- NAV SIN LOGUEADO -->
<nav class="navbar navbar-expand-lg bg-body-tertiary" *ngIf="!identity">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/images/logo_romance.png" alt="Logo" width="180vw" class="d-inline-block align-text-top">
        </a>
    </div>
</nav>

<!-- NAV PARA LOGUEADO -->
<nav class="navbar navbar-expand-lg bg-body-tertiary" *ngIf="identity">
    <div class="d-flex flex-row justify-content-between w-100 px-2">

        <!-- LOGO -->
        <div class="d-flex justify-content-start col-4">
            <a class="navbar-brand" href="#">
                <img src="assets/images/logo_romance.png" alt="Logo" width="180vw" class="d-inline-block align-text-top">
            </a>
        </div>
        
        <!-- OPCIONES -->
        <div id="nav_options" class="d-flex flex-row justify-content-center align-items-center col-4 ">
            <a class="nav-link" aria-current="page" href="#">Inventario</a>
            &nbsp;&nbsp;&nbsp;
            <a class="nav-link" href="#">Devolución</a>
        </div>

        <!-- MENU USUARIO -->
        <div class="d-flex justify-content-end col-4">
            <div class="btn-group">
                <button id="nav_btn_user" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    {{identity.name}} {{identity.surname}}
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Another action</button>
                    <button class="dropdown-item" type="button">Something else here</button>
                </div>
            </div>
        </div>

    </div>
</nav>


<router-outlet></router-outlet>


<!-- <div class="container-fluid border border-danger">
    <a class="navbar-brand" href="#">
        <img src="assets/images/logo_romance.png" alt="Logo" width="180vw" class="d-inline-block align-text-top">
    </a>
    <div class="d-flex ">
        <div>

                <a class="nav-link" aria-current="page" href="#">Inventario</a>
            <div class="">
                <a class="nav-link" href="#">Devolución</a>
            </div>
        </div>
        
        <div>
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{identity.name}} {{identity.surname}}
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
            </div>
        </div>
    </div>
</div>

</div> -->